*
{
	margin: 0;
	padding: 0;
}

.container
{
    height: 600px;    
    display: flex;
    justify-content: center;
    align-items: center; 
}
.main
{
	position: relative;
	background-image: linear-gradient(45deg, #f046ff ,#9b00e8);
	border-radius: 25px;
	height: 100%;
	padding: 30px;
	color:rgb(192,192,192);
	font-size: 15px;

	box-sizing: content-box;
    width: 400px

}
.row
{
	height: 100%
}
.myCard
{
	position: relative;
	background: #fff;
	border-radius: 25px;
	-webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
}
h1
{
	color:white;
	font-family: 40px
}
.myInput
{
	width:300px;
    border-radius: 25px;
    padding:10px;
    padding-left: 40px;
    border: none;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	margin-bottom: 8px
}
.myInput:focus
{
	outline:none;
}
.myForm
{
	position: relative;
	margin-top:50px;
}
.butt
{
	width:100px;
	border:none;
	border-radius: 8px;
	padding: 7px;
	-webkit-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
	color:#9b00e8;
	font-size: 19px;
	font-weight: 500
}
.butt:focus
{
	outline:none;
}
.butt:hover
{
   color:white;
   background-image: linear-gradient(45deg, #f046ff ,#9b00e8);
   border:3px solid #fff;
}
.check
{
	position: relative;
	right: 80px;
}